<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="w-fill min-h-screen bg-zinc-900 text-white p-10">
      <div class="flex justify-end w-full">
        <a
          href="/logout"
          class="bg-red-500 rounded-md px-3 py-2 test-sm inline-block mb-5"
          >Logout</a
        >
      </div>
      <div class="w-full">
        <h3 class="text-3xl">
          <span class="font-light">Hello</span>, <%= user.name %>
        </h3>
        <h5 class="mb-5">You can create a new post.</h5>
        <form action="/post" method="Post">
          <textarea
            placeholder="What's on your mind?"
            style="height: 120px"
            class="resize-none bg-transparent border-2 border-zinc-800 rounded-md outline-none p-2 w-1/3"
            name="post"
          ></textarea>
          <input
            style="cursor: pointer"
            type="submit"
            class="px-3 py-2 bg-blue-500 block rounded-md mt-2 text-sm"
            value="Create new post."
          />
        </form>
        <div class="posts mt-20">
          <h3 class="text-zinc-400">Your posts</h3>
          <div class="postcontainer mt-5">
            <% post.forEach((post)=>{ %>
            <div
              class="w-1/3 p-5 border-zinc-700 border-[1px] rounded-md bg-zinc-800 mb-5"
            >
              <h4 class="text-blue-500 mb-2">@<%=post._id%></h4>
              <p class="text-sm tracking-tight"><%= post.content %></p>

              <small class="mt-4 inline-block"><%= post.likes.length %></small>
              <div class="btns flex mt-1 gap-5">
                <a class="text-<%= post.likes.indexOf(user._id) !== -1? "red" : "grey" %>-500" href="/like/<%= post._id%>">
                  <%= post.likes.indexOf(user._id) !== -1? "ðŸ’”Unlike" : "â¤ï¸Like" %>
                </a>
                <a class="text-zinc-400" href="/edit/<%=post._id%>">&#9998; Edit</a>
              </div>
            </div>
            <% }) %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
